/* topbar.css */
.topbar {
  width: 100%; /* Full width */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #587FD9; /* Light blue background */
  padding: 10px 9vw;
  box-sizing: border-box;
  position: relative;
}

.topbar-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu-button {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
  z-index: 1001;
}

.topbar-left {
  flex: 1;
}

.icons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /*flex: 1;*/
}

/* Right Section */
.topbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

/* Icon Styling */
.topbar-icon {
  color: black; /* Black color for icons */
  font-size: 18px;
  text-decoration: none;
}

/* Button Styling */
.topbar-button {
  margin-left: 10px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}


.topbar-button:hover {
  background-color: #e5e7eb;
  color: black;
}
/* Button Variants */
.topbar-button-white {
  background-color: white !important;
  color: #007bff;
}
.topbar-button-blue {
  background-color: #007bff;
}

/* Dropdown Styling */
.dropdown {
  position: relative;
}
.dropdown-toggle {
  display: flex;
  align-items: center;
}
.dropdown-menu {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.dropdown-item {
  padding: 10px 20px;
  text-decoration: none;
  color: black;
}
.dropdown-item:hover {
  background-color: #f0f0f0;
}

/* Icon Styling */
.x-icon {
  width: 65px;
}


@media (max-width: 1024px) {
  /* .topbar-left, .topbar-right {
    gap: 5%; 
  } */
  /* .x-icon {
    width: 50px;
  } */
}
/* RESPONSIVE STYLING */
@media (max-width: 768px) {
  .topbar {
      padding: 10px 15px;
  }

  .mobile-menu-button {
      display: none; /* Hide the mobile menu button */
  }

  .topbar-content {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      background-color: #587FD9;
      padding: 10px;
      z-index: 1000;
  }

  .topbar-left, .topbar-right, .icons {
      margin: 5px;
  }

  .icons {
      justify-content: center;
      flex: 0 0 auto;
  }

  .topbar-left {
      flex: 1;
      display: flex;
      justify-content: flex-start;
  }

  .topbar-right {
      flex: 1;
      display: flex;
      justify-content: flex-end;
  }

  .topbar-icon {
      margin-right: 15px;
      font-size: 16px;
  }

  .topbar-button {
      padding: 8px 12px;
      font-size: 12px;
      margin: 5px 0;
  }

  .auth-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
  }

  .dropdown {
      margin-right: 10px;
  }

  .dropdown-menu {
      position: absolute;
      width: auto;
      margin-top: 5px;
      right: 0;
  }

  .x-icon {
      width: 14px !important;
  }

  .Section_bg {
      background-image: none !important;
  }
}

@media (max-width: 480px) {
  .topbar {
      padding: 8px;
  }

  .topbar-content {
      padding: 8px;
  }

  .topbar-icon {
      font-size: 14px;
      margin-right: 10px;
  }

  .topbar-button {
      padding: 5px 10px;
      font-size: 10px;
      text-align: center;
  }

  .auth-buttons {
      flex-wrap: wrap;
  }

  .dropdown, .topbar-button-blue {
      margin-bottom: 5px;
  }

  .dropdown-toggle {
      justify-content: center;
  }

  .x-icon {
      width: 12px !important;
  }
}
